@model List<BookCustomerAssociation>

<h2>Products Bought by Users</h2>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>

                <th>Book ID</th>
                <th>Book Name</th>
                <th>Book Price</th>
                <th>Customer Name</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var association in Model)
            {
                <tr>
                    <td>@association.BookId</td>
                    <td>@association.BookName</td>
                    <th>$@association.Price</th>
                    <td>@association.CustomerName</td>
                
                </tr>
               
            }
        </tbody>
        <tr>
            <td colspan="2" class="text-right">Total earnings:</td>
            <td>$@Model.Sum(association => association.Price)</td>
        </tr>
    </table>
}
else
{
    <p>No products bought by users.</p>
}
