@{
    ViewData["Title"] = "Payment";
}

<h1>Payment</h1>

<h2>Total Amount to Pay: $@ViewBag.TotalPrice</h2>

<div id="paypal-button-container"></div>

<script src="https://www.paypal.com/sdk/js?client-id=AV86GjL-g-9xtTzCTCPw0W0chaly9zmLJDDtRhvbLPi87td8clDY3-gwXzuuo7f1QfkRewmA5_vJNL5x"></script>
<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '@ViewBag.TotalPrice'
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                alert('Transaction completed by ' + details.payer.name.given_name);
                window.location.href = "/success"; // Redirect to success page
            });
        }
    }).render('#paypal-button-container');
</script>
