@{
    ViewData["Title"] = "Privacy Policy";
}

  <style>
        body {
            background: linear-gradient(to bottom right, #CCE5FF, #99CCFF, #66B2FF, #3399FF, #0077FF, #0055CC);
            font-family: Arial, sans-serif;
        }

</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
